{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - errdisable #}
{% if errdisable is arista.avd.defined %}

## Errdisable

### Errdisable Summary

{%     if errdisable.recovery is defined %}
{%         if errdisable.detect.causes is defined %}
|  Detect Cause | Enabled |
| ------------- | ------- |
{%             for cause in errdisable.detect.causes | arista.avd.natural_sort %}
| {{ cause }} | True |
{%             endfor %}
{%         endif %}

{%         if errdisable.recovery.causes is defined %}
|  Detect Cause | Enabled | Interval |
| ------------- | ------- | -------- |
{%             set interval = errdisable.recovery.interval | arista.avd.default("-") %}
{%             for cause in errdisable.recovery.causes | arista.avd.natural_sort %}
| {{ cause }} | True | {{ interval }} |
{%             endfor %}
{%         endif %}
{%     endif %}

```eos
{%     include 'eos/errdisable.j2' %}
```
{% endif %}
