{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{% for name_server_group in ip_name_server_groups | arista.avd.natural_sort("name") %}
!
ip name-server group {{ name_server_group.name }}
{%     set all_server_groups = [] %}
{%     for name_server in name_server_group.name_servers | arista.avd.default([]) %}
{%         set server = {"priority": "0", "vrf": "default", "ip_address": "-"} %}
{%         if name_server.priority is arista.avd.defined %}
{%             do server.update({"priority": name_server.priority}) %}
{%         endif %}
{%         do server.update({"ip_address": name_server.ip_address}) %}
{%         if name_server.vrf is arista.avd.defined %}
{%             do server.update({"vrf": name_server.vrf}) %}
{%         endif %}
{%         do all_server_groups.append(server) %}
{%     endfor %}
{%     for server in all_server_groups | arista.avd.natural_sort("ip_address") | arista.avd.natural_sort("vrf") | arista.avd.natural_sort("priority") %}
{%         if server.priority != "0" %}
{%             set name_server_cli = "name-server vrf " ~ server["vrf"] ~ " " ~ server["ip_address"] ~ " priority " ~ server["priority"] %}
{%         else %}
{%             set name_server_cli = "name-server vrf " ~ server["vrf"] ~ " " ~ server["ip_address"] %}
{%         endif %}
   {{ name_server_cli }}
{%     endfor %}
{%     if name_server_group.dns_domain is arista.avd.defined %}
   dns domain {{ name_server_group.dns_domain }}
{%     endif %}
{%     if name_server_group.ip_domain_list is arista.avd.defined %}
   ip domain-list {{ name_server_group.ip_domain_list }}
{%     endif %}
{% endfor %}
